<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IOGKF.Properties.Settings.IOGKF_MemmbersConnectionString"
            connectionString="Data Source=ALM-FM-320W01\SQLEXPRESS;Initial Catalog=&quot;IOGKF Memmbers&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IOGKF.Properties.Settings.IOGKF_MembersConnectionString"
            connectionString="Data Source=ALM-FM-320W01;Initial Catalog=&quot;IOGKF Members&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IOGKF.Properties.Settings.IOGKF_membersConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IOGKF_members.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>